/* Add your CSS styles here */
body {
    font-family: Comic Sans MS, cursive;
    background-color: #93C572;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4F7942; /* Dark green background */
    color: white;
    padding: 20px; /* Increased padding for a larger header */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and title */
    position: relative; /* Keep position relative for absolute logo */
}

.logo-container {
    position: absolute; /* Position the logo container absolutely */
    top: 20px; /* Adjust the top position to match the padding */
    left: 10px; /* Adjust the left position */
}

h1 {
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the title text */
    flex-grow: 1; /* Allow the title to take up remaining space */
    color: white;
    text-shadow: 0px 5px 5px black;
    font-family: Comic Sans MS, cursive;
}

.logo {
    width: 50px;
    height: auto;
}

#map {
    height: 600px;
    width: 100%;
    max-width: 800px; /* Set a maximum width for the map */
    margin: 20px auto; /* Center the map horizontally and add margin above and below */
    padding: 0 10px; /* Optional: Add padding to the left and right */
    box-sizing: border-box; /* Ensure padding is included in the total width */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4F7942; /* Dark green footer */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Profile icon styles */
.profile-icon {
    width: 30px; /* Set width for the profile icon */
    height: 30px; /* Set height for the profile icon */
    border-radius: 50%; /* Make it round */
    margin-right: 10px; /* Space between icon and logout link */
}